/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #2b657c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #123d4e;
}

.image-container {
    margin-top: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    text-align: center;
    font-size: 2.5em;
    color: #2b657c;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #bcdce2; /* Un fondo azul claro para resaltar el título */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px; /* Espaciado entre letras para un efecto más estilizado */
}

.sub-title {
    text-align: center;
    font-size: 1.5em;
    color: #555;
    margin-top: 10px;
    letter-spacing: 1px;
}





.close-alert:hover {
    background-color: #f5f5f5;
}

#close-alert:checked + .alert {
    display: none; /* Oculta la alerta cuando el checkbox está marcado */
}
